
/* CSS RESET */

*, *::after, *::before {
   box-sizing:border-box;
}

:root {
   --font-sans:'Montserrat', sans-serif;
   --font-serif:Cambria, Georgia, serif;
   
--color-neutral-light:#505050;
   --color-neutral-medium:#383838;
   --color-neutral-dark:#1a1a1a;

   --color-main-light:#e5f1f2;
   --color-main-medium:#4ba0a8;
   --color-main-dark:#0a4349;

   --color-white:#fff;
   --color-black:#111;

   --header-height:3rem;
}

body {
   margin:0;
   font-size:100%;
   font-family:var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: 1em;
   font-family:var(--font-sans);
}

a {
   color:inherit;
   text-decoration:none;
   font-weight:bold;
}
a:hover {
   text-decoration: underline;
}


/* Layout Classes */

.hidden { display:none; }

.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex:1 1 auto; }
.flex-none { flex:none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }
.flex-vertical{flex-direction: column;}
.flex-column { flex-direction:column; }
.overscroll { overflow:auto; }



/* Forms */

.form-control {
   margin: 1em 0;
}
.ui-mobile .form-label {
   font-size: 0.8em;
   color: var(--color-neutral-medium);
   margin: 0.5rem 0;
}
.form-input {
   display: inline-block;
   width: 100%;
   border-width: 0;
   background-color: var(--color-neutral-lighter);
   border: 1px solid var(--color-neutral-medium);
   border-radius: 0.3em;
   font: inherit;
   padding: 0.5em 1em;
   margin: 0;
   outline: 0;
}
.form-button {
   display: inline-block;
   width: 100%;
   border-width: 0;
   border-radius: 0.3em;
   background-color: var(--color-neutral-light);
   font: inherit;
   padding: 0.5em 1em;
   margin: 0;
   outline: 0;
   text-align: center;
   cursor:pointer;
   text-decoration: none;
   color: whitesmoke;
}

.form-button:hover {
   text-decoration:none;
   background-color:var(--color-neutral-medium);
}

.hotdog {
   background-color: white;
   border-radius: 2em;
   line-height: 3rem;
   padding: 0 2em;
}
.hotdog input {
   border-width: 0;
   padding: 0;
   margin: 0;
   width: 100%;
   flex: 1 1 auto;
   display: block;
   font: inherit;
   color: inherit;
   outline: 0;
}
.hotdog.dark {
   background-color: var(--color-neutral-dark);
   color: white;
}



#signin-form {
   padding: 1em;
}

#recent-search {
   box-shadow: 0.1em 0.2em 0.4em rgba(0,0,0,0.3);
}




.recent-search {
   margin: 1em;
   display: flex;
}


/* Page Layouts */

.ui-mobile .ui-page-active {
   display: flex;
   flex-direction: column;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   
}
[data-role="page"].ui-page-active {
   display:flex;
   flex-direction:column;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   overflow:hidden;
   color: #979795;
}
[data-role="main"] {
   flex: 1 1 100%;
   overflow: hidden;
   position: relative;
}
.ui-header,
.ui-footer {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width: 0;
   background-color: white;
   box-shadow: 0 0 5px rgba(0,0,0,0.15);
   color: #bdbdc7;
   position: relative;
   overflow: hidden;
}
.ui-header .ui-title {
   margin: 0;
   padding: 0;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height:100%;
   text-align: center;
   font-size:1rem;
}


.ui-header ul,
.ui-footer ul {
   position: relative;
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.ui-footer li {
   flex: 1 1 auto;
   text-align: center;
}
.ui-header a,
.ui-footer a {
   display: block;
   padding: 0 1em;
}

#signin-page{
    background-image: url(../img/icons/logo.jpg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: 0 10vh;
}


#user-profile-page{
   background-image: url(../img/self.jpg)
  background-repeat: no-repeat;
   background-size: contain;
   background-position: 0 20vh;
}

.user-profile-image {
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 100%;
    background-color: var(--color-main-light);
}
.user-profile-image>img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    padding: 2em;
}


/* Modals */
.modal {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   transition: all 0.2s;
   opacity: 0;
   z-index: 10;
}
.modal.active {
   opacity: 1;
   pointer-events: initial;
}
.modal-back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
}
.modal-back.transparent {
   background-color: transparent;
}
.modal-back.passthrough {
   pointer-events: none;
}

.modal-popup {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, calc(-50% + 3em));
   width: calc(100vw - 3em);
   max-height: calc(100vh - 3em);
   overflow: hidden;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   transition: all 0.4s;
}
.modal.active .modal-popup {
   transform: translate(-50%, -50%);
}
.modal-head,
.modal-foot {
   background-color: #403e3e;
   line-height: 2rem;
   padding: 0 1em;
}
.modal-body {
   background-color: white;
   flex: 1 1 100%;
   padding: 1em;
}

.modal-drawer {
   position: absolute;
   display: flex;
   flex-direction: column;
   transition: all 0.3s;
   box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.modal-drawer.left,
.modal-drawer.right {
   height: 100%;
   width: 70vw;
}
.modal-drawer.left { left:0; transform:translateX(-100%); }
.modal-drawer.right { right:0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   height: 40vh;
   width: 100%;
}
.modal-drawer.top { top:0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom:0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform: translate(0);
}





/* floater */
.floater { position: absolute; }
.floater.top { top:1rem }
.floater.right { right:1rem }
.floater.bottom { bottom:1rem }
.floater.left { left:1rem }


.circle-button {
   border-radius: 2rem;
   line-height: 3rem;
   font-size: 2.5em;
   width: 3rem;
   height: 3rem;
   text-align: center;
   background-color: white;
   box-shadow: 0.1em 0.2em 0.4em rgba(0,0,0,0.2);
}





.map-placeholder {
   background-image: url(../img/map.png);
   background-position: center;
   background-size: cover;
}
.icon {
   width: 2.5rem;
   height: 2.5rem;
   vertical-align: middle;
}





/* Animal List */
.animal-list {
   list-style-type: none;
   padding: 0;
   margin: 0;
   padding: 0 1em;
   height: 100%;
   width: 100%;
   position: relative;
   overflow: auto;
}
.animal-list-item a {
   display: flex;
   font-weight: normal;
   margin: 1em 0;
   border-radius: 0.5em;
   overflow: hidden;
   box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}
.animal-list-item a:hover {
   text-decoration: none;
}
.animal-list-image img {
   width: 6em;
   vertical-align: text-bottom;
}
.animal-list-body {
   padding: 1em;
}
.animal-list-name {
   font-size: 1.3em;
}




/* foot nav */
.nav-icon-set li.active {
   background-color: var(--color-main-light);
}
.nav-icon {
    line-height: 2rem;
    display: block;
}
.nav-icon .icon {
    vertical-align: middle;
    width: 1.5em;
    height:1.5em;
}
.nav-icon-label {
    line-height: 1rem;
    display: block;
    font-size: 0.8em;
}

/*user profile page*/
.user-profile-image {
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 100%;
    background-color: var(--color-main-light);
}
.user-profile-image>img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    padding: 2em;
}
.user-profile-description{
  margin-top: 20px;
  text-align: center;
}